# DJANGO SETTINGS
DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_DEBUG=False
DJANGO_SECRET_KEY=IywCEE8GWBhxPxlUb9nnxqpPhzdZDAZt
#DJANGO_ALLOWED_HOSTS=localhost,uniformes.local,127.0.0.1,127.0.1.1
DJANGO_ALLOWED_HOSTS=*
CORS_ORIGIN_WHITELIST=http://localhost:3000
ADMIN_URL=admin/
# POSTGRES
POSTGRES_USER=admin
POSTGRES_PASSWORD=12345qw
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=uniformes
# PG ADMIN
PGADMIN_DEFAULT_EMAIL=weslei.souza@amcom.com.br
PGADMIN_DEFAULT_PASSWORD=adminadmin
# REDIS
REDIS_LOCATION=redis://redis:6379/1
REDIS_URL=redis://redis:6379/1
#SENTRY INTEGRATION
DSN_SENTRY=http://be9af8cd63c54786831e245153fa258f@localhost:9000/1
# NGINX
SERVER_NAME=uniformes.local
API_URL=http://uniformes.local/api
EMAIL_BACKEND=des.backends.ConfiguredEmailBackend
DJANGO_EMAIL_BACKEND=des.backends.ConfiguredEmailBackend
